In [1]:
import pandas as pd
from pathlib import Path
import plotly.express as px

In [2]:
# link files 
housingData_csv = Path("data/cleaned (3).csv")
incomeData_csv = Path("data/income_city.csv")

#Convert so the CSV files can be read
housingData = pd.read_csv(housingData_csv, low_memory=False)
incomeData = pd.read_csv(incomeData_csv, encoding='ISO-8859-1')

In [3]:
#Find what column names are the same:
housingData.columns
print(f"school data headers: {housingData.columns}")

print("---------------------------------------------------------")

incomeData.columns
print(f"school data headers: {incomeData.columns}")

school data headers: Index(['property_url', 'property_id', 'address', 'street_name', 'apartment',
       'city', 'state', 'latitude', 'longitude', 'postcode', 'price',
       'bedroom_number', 'bathroom_number', 'price_per_unit', 'living_space',
       'land_space', 'land_space_unit', 'broker_id', 'property_type',
       'property_status', 'year_build', 'total_num_units', 'listing_age',
       'RunDate', 'agency_name', 'agent_name', 'agent_phone',
       'is_owned_by_zillow'],
      dtype='object')
---------------------------------------------------------
school data headers: Index(['id', 'state_code', 'state_name', 'state', 'county', 'city', 'place',
       'type', 'primary', 'zip_code', 'area_code', 'ALand', 'AWater',
       'latitude', 'longitude', 'Mean', 'Median', 'Stdev', 'sum_w'],
      dtype='object')

In [4]:
housingData = housingData.loc[:, ['address', 'street_name', 'apartment',
       'city', 'state', 'latitude', 'longitude', 'postcode', 'price']]
housingData

,address,street_name,apartment,city,state,latitude,longitude,postcode,price
0,"117 3rd St, Wrangell, AK 99929",3rd St,NaN,Wrangell,AK,56.474518,-132.386000,99929,589500.0
1,"LOT 2A Front St, Wrangell, AK 99929",LOT 2A Front St,NaN,Wrangell,AK,56.471638,-132.386860,99929,99999.0
2,"335 Cassiar St, Wrangell, AK 99929",Cassiar St,NaN,Wrangell,AK,56.475697,-132.389050,99929,405000.0
3,"532.5 Front St, Wrangell, AK 99929",5 Front St,NaN,Wrangell,AK,56.468544,-132.379650,99929,130000.0
4,"L20-B5 Evergreen St, Wrangell, AK 99929",-B5 Evergreen St,NaN,Wrangell,AK,56.478485,-132.391510,99929,20000.0
...,...,...,...,...,...,...,...,...,...
529117,"1338 131st Ct, Lemont, IL 60439",131st Ct,NaN,Lemont,IL,41.648563,-88.011930,60439,210000.0
529118,"6317 Virginia Ln, Matteson, IL 60443",Virginia Ln,NaN,Matteson,IL,41.523070,-87.769340,60443,350000.0
529119,"12S135 Lemont Rd, Lemont, IL 60439",135 Lemont Rd,NaN,Lemont,IL,41.697723,-88.003746,60439,859000.0
529120,"4701 Abbey Ln, Matteson, IL 60443",Abbey Ln,NaN,Matteson,IL,41.519527,-87.730644,60443,465000.0
529121,"321 Allen Ave, West Chicago, IL 60185",Allen Ave,NaN,West Chicago,IL,41.879490,-88.203010,60185,310000.0

In [5]:
incomeData = incomeData.loc[:, ['state_name', 'state', 'county', 'city',
                                'zip_code', 'area_code', 'latitude', 'longitude', 'Mean']]
incomeData

,state_name,state,county,city,zip_code,area_code,latitude,longitude,Mean
0,Alabama,AL,Mobile County,Chickasaw,36611,251,30.771450,-88.079697,38773
1,Alabama,AL,Barbour County,Louisville,36048,334,31.708516,-85.611039,37725
2,Alabama,AL,Shelby County,Columbiana,35051,205,33.191452,-86.615618,54606
3,Alabama,AL,Mobile County,Satsuma,36572,251,30.874343,-88.009442,63919
4,Alabama,AL,Mobile County,Dauphin Island,36528,251,30.250913,-88.171268,77948
...,...,...,...,...,...,...,...,...,...
32521,Puerto Rico,PR,Adjuntas Municipio,Guaynabo,970,787,18.397925,-66.130633,30649
32522,Puerto Rico,PR,Adjuntas Municipio,Aguada,602,787,18.385424,-67.203310,15520
32523,Puerto Rico,PR,Adjuntas Municipio,Aguada,602,787,18.356565,-67.180686,41933
32524,Puerto Rico,PR,Adjuntas Municipio,Aguada,602,787,18.412041,-67.213413,0
32525,Puerto Rico,PR,Adjuntas Municipio,Aguadilla,603,787,18.478094,-67.160453,28049

In [12]:
incomevsprice = pd.read_csv("average-income-by-state-2024.csv")

json_data = incomevsprice.to_json(orient="records")

# with open('average-income-by-state-2022.json', 'w') as json_file:
#     json_file.write(json_data)

json_data

'[{"state_name":"Alabama","state":"AL","AverageIncomePerCapita2022":50637.0,"AverageIncomePerCapita2021":49671.0},{"state_name":"Alaska","state":"AK","AverageIncomePerCapita2022":68919.0,"AverageIncomePerCapita2021":65677.0},{"state_name":"Arizona","state":"AZ","AverageIncomePerCapita2022":56667.0,"AverageIncomePerCapita2021":55574.0},{"state_name":"Arkansas","state":"AR","AverageIncomePerCapita2022":51787.0,"AverageIncomePerCapita2021":50588.0},{"state_name":"California","state":"CA","AverageIncomePerCapita2022":77339.0,"AverageIncomePerCapita2021":76800.0},{"state_name":"Colorado","state":"CO","AverageIncomePerCapita2022":74167.0,"AverageIncomePerCapita2021":70715.0},{"state_name":"Connecticut","state":"CT","AverageIncomePerCapita2022":84972.0,"AverageIncomePerCapita2021":82885.0},{"state_name":"Delaware","state":"DE","AverageIncomePerCapita2022":61387.0,"AverageIncomePerCapita2021":59846.0},{"state_name":"District of Columbia","state":"DC","AverageIncomePerCapita2022":96728.0,"AverageIncomePerCapita2021":96659.0},{"state_name":"Florida","state":"FL","AverageIncomePerCapita2022":63597.0,"AverageIncomePerCapita2021":62136.0},{"state_name":"Georgia","state":"GA","AverageIncomePerCapita2022":57129.0,"AverageIncomePerCapita2021":55846.0},{"state_name":"Hawaii","state":"HI","AverageIncomePerCapita2022":61175.0,"AverageIncomePerCapita2021":60711.0},{"state_name":"Idaho","state":"ID","AverageIncomePerCapita2022":54537.0,"AverageIncomePerCapita2021":52276.0},{"state_name":"Illinois","state":"IL","AverageIncomePerCapita2022":68822.0,"AverageIncomePerCapita2021":67165.0},{"state_name":"Indiana","state":"IN","AverageIncomePerCapita2022":57930.0,"AverageIncomePerCapita2021":56435.0},{"state_name":"Iowa","state":"IA","AverageIncomePerCapita2022":58905.0,"AverageIncomePerCapita2021":57080.0},{"state_name":"Kansas","state":"KS","AverageIncomePerCapita2022":60152.0,"AverageIncomePerCapita2021":58857.0},{"state_name":"Kentucky","state":"KY","AverageIncomePerCapita2022":52109.0,"AverageIncomePerCapita2021":51298.0},{"state_name":"Louisiana","state":"LA","AverageIncomePerCapita2022":54622.0,"AverageIncomePerCapita2021":54181.0},{"state_name":"Maine","state":"ME","AverageIncomePerCapita2022":59463.0,"AverageIncomePerCapita2021":58272.0},{"state_name":"Maryland","state":"MD","AverageIncomePerCapita2022":70730.0,"AverageIncomePerCapita2021":69710.0},{"state_name":"Massachusetts","state":"MA","AverageIncomePerCapita2022":84945.0,"AverageIncomePerCapita2021":83593.0},{"state_name":"Michigan","state":"MI","AverageIncomePerCapita2022":56813.0,"AverageIncomePerCapita2021":56569.0},{"state_name":"Minnesota","state":"MN","AverageIncomePerCapita2022":68010.0,"AverageIncomePerCapita2021":66232.0},{"state_name":"Mississippi","state":"MS","AverageIncomePerCapita2022":46248.0,"AverageIncomePerCapita2021":45887.0},{"state_name":"Missouri","state":"MO","AverageIncomePerCapita2022":56551.0,"AverageIncomePerCapita2021":55310.0},{"state_name":"Montana","state":"MT","AverageIncomePerCapita2022":57719.0,"AverageIncomePerCapita2021":56848.0},{"state_name":"Nebraska","state":"NE","AverageIncomePerCapita2022":63321.0,"AverageIncomePerCapita2021":61210.0},{"state_name":"Nevada","state":"NV","AverageIncomePerCapita2022":61282.0,"AverageIncomePerCapita2021":60167.0},{"state_name":"New Hampshire","state":"NH","AverageIncomePerCapita2022":74663.0,"AverageIncomePerCapita2021":73279.0},{"state_name":"New Jersey","state":"NJ","AverageIncomePerCapita2022":78700.0,"AverageIncomePerCapita2021":77009.0},{"state_name":"New Mexico","state":"NM","AverageIncomePerCapita2022":51500.0,"AverageIncomePerCapita2021":50292.0},{"state_name":"New York","state":"NY","AverageIncomePerCapita2022":78089.0,"AverageIncomePerCapita2021":76753.0},{"state_name":"North Carolina","state":"NC","AverageIncomePerCapita2022":57416.0,"AverageIncomePerCapita2021":56095.0},{"state_name":"North Dakota","state":"ND","AverageIncomePerCapita2022":66184.0,"AverageIncomePerCapita2021":64276.0},{"state_name":"Ohio","state":"OH","AverageIncomePerCapita2022":57880.0,"AverageIncomePerCapita2021":56955.0},{"state_name":"Oklahoma","state":"OK","AverageIncomePerCapita2022":54998.0,"AverageIncomePerCapita2021":53808.0},{"state_name":"Oregon","state":"OR","AverageIncomePerCapita2022":62767.0,"AverageIncomePerCapita2021":61449.0},{"state_name":"Pennsylvania","state":"PA","AverageIncomePerCapita2022":65167.0,"AverageIncomePerCapita2021":64042.0},{"state_name":"Rhode Island","state":"RI","AverageIncomePerCapita2022":65377.0,"AverageIncomePerCapita2021":64296.0},{"state_name":"South Carolina","state":"SC","AverageIncomePerCapita2022":53320.0,"AverageIncomePerCapita2021":52441.0},{"state_name":"South Dakota","state":"SD","AverageIncomePerCapita2022":65806.0,"AverageIncomePerCapita2021":64405.0},{"state_name":"Tennessee","state":"TN","AverageIncomePerCapita2022":58279.0,"AverageIncomePerCapita2021":56616.0},{"state_name":"Texas","state":"TX","AverageIncomePerCapita2022":61985.0,"AverageIncomePerCapita2021":59802.0},{"state_name":"Utah","state":"UT","AverageIncomePerCapita2022":57925.0,"AverageIncomePerCapita2021":56000.0},{"state_name":"Vermont","state":"VT","AverageIncomePerCapita2022":63206.0,"AverageIncomePerCapita2021":61748.0},{"state_name":"Virginia","state":"VA","AverageIncomePerCapita2022":68211.0,"AverageIncomePerCapita2021":66190.0},{"state_name":"Washington","state":"WA","AverageIncomePerCapita2022":75698.0,"AverageIncomePerCapita2021":73755.0},{"state_name":"West Virginia","state":"WV","AverageIncomePerCapita2022":49169.0,"AverageIncomePerCapita2021":48418.0},{"state_name":"Wisconsin","state":"WI","AverageIncomePerCapita2022":61210.0,"AverageIncomePerCapita2021":59787.0},{"state_name":"Wyoming","state":"WY","AverageIncomePerCapita2022":71342.0,"AverageIncomePerCapita2021":69584.0},{"state_name":"United States","state":"USA","AverageIncomePerCapita2022":63442.2549,"AverageIncomePerCapita2021":62062.70588}]'